
body {
  margin: 0;
}

/*Nav Bar Top*/
#top {
  list-style: none;
  font-size: 1.5em;

  /*text-align: center;*/
}

#top a li {
  color:black;
  display: inline-block;
  padding-right: 1.5em;
  /*float: right;*/
}

nav {
  font-family: 'Gruppo', 'Arial';
  /*text-align: right;*/
  display: inline-block;
}

#top a li:hover {
  text-shadow: 1px 1px black;
}

header {
  font-family: 'Gruppo', 'Arial';
  position: relative;
  display: inline-block;
  /*text-align: right;*/
  float: right;
  margin-top: -2em;
  margin-right: 2em;
  /*padding-top: em;*/
  /*font-family: 'Lora', serif;*/
  /*font-size: 2em;*/
}

header h1 {
  /*float:left;*/
  /*text-align: left;*/
  /*display: inline-block;*/
  font-size: 3em;
}

/*header p {
  margin-top: -2em;
  font-size: 1.2em;
}*/
/*---------------------------*/

/*Section One Backround / Header*/



#two {
  background-color: #7F100B;
  height: 30em;
  min-height: 100%;
  width: 100%;
}

/*---------------------------*/

/* Section 3 Div boxs*/

section div h2 {
  text-align: center;
}
/*
#three div {
  width: 15em;
  border: 1px solid black;
  display: block;
  margin-top: 1em;
  border-radius: 20px;
  /*position: relative;*/
  /*margin-right: 1.5em;*/
/*}*/

section {
  /*margin-top: -1.5em;*/
}

#three {
  background-color: white;
  font-family: 'Gruppo', 'Arial';
  color: black;
  height: 30em;
  font-size: 1.5em;
  padding-top: 1.5em;
}

/*Each Box*/

#left {
  text-align: left;
  font-size: 1em;
}

/*---------------------------*/



#four {
  height: 30em;
  min-height: 100%;
  width: 100%;
  font-family: 'Gruppo', 'Arial';
  background-color: black;
  color: white;
  /*margin-top: -1.5em;*/
  font-size: 1.5em;
  padding-top: 1.5em;
}

#five {
  height: 30em;
  min-height: 100%;
  width: 100%;
  font-family: 'Gruppo', 'Arial';
  font-size: 1.5em;
  padding-top: 1.5em;
  background-color: #A6B1FF;
}



footer {
  text-align: center;
  font-family: Arial;
}