
body {
  margin: 0;
}

/*Nav Bar Top*/
#top {
  list-style: none;
  font-size: 1.5em;
  text-align: center;
}

#top a li {
  color:black;
  display: inline-block;
  padding-right: 1.5em;
}

* {
  font-family: 'Gruppo', 'Arial';
}

#top a li:hover {
  text-shadow: 1px 1px black;
}

/*---------------------------*/

/*Section One Backround / Header*/

header {
  text-align: center;
  position: relative;
  padding-top: 2%;
}

header h1 {
  font-size: 5em;

}

header p {
  margin-top: -2em;
  font-size: 1.2em;
}


#two {
  background-color: #FFBC7C;
  height: 20em;
  width: 100%;
}

/*---------------------------*/